@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #9794ff;
  --foreground: #000000;
  --secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #38255a;
    --foreground: #000000;
    --secondary: #a5a5a5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-wrap: balance;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  
