.control_container {
    display: flex;
    padding: 1px;
    gap: 10px;
    flex-direction: column;
}

.control_button {
    display: flex; /* Flex container for link content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background-color: #D3D3D3; /* Background color */
    color: black; /* Text color */
    font-weight: bold;
    border-radius: 0px; /* Rounded corners */
    padding: 20px; /* Add clickable space */
    gap: 200px;
  }