.control_container {
    display: flex;
    padding: 1px;
    gap: 5px;
    flex-direction: column;
}

.control_button {
    display: flex; /* Flex container for link content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background-color: var(--secondary); /* Background color */
    /* color: black; Text color */
    font-weight: bold;
    border-radius: 0px; /* Rounded corners */
    padding: 20px; /* Add clickable space */
    height: 20px;
}
