/* Grid.css */
.grid {
    display: grid;
    gap: 1px;
    justify-content: center;
    padding: 20px;
  }

/* aStar.css */
.control-buttons {
  background: #D3D3D3;
  color: #0a0a0a;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0px;
  padding: 20px;
  gap: 10px;
}

.grid-box {
  color: #fff;
  font-weight: bold;
  font-size: x-small;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}