/* Grid.css */
.grid {
    
    display: grid;
    gap: 1px;
    padding: 20px;
  }

/* aStar.css */
.control-buttons {
  background: #D3D3D3;
  display: flex;
  color: #0a0a0a;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  padding: 20px;
  gap: 10px;
}

.grid-box {
  color: #fff;
  font-weight: bold;
  font-size: x-small;
  border: none;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  transition: background-color 0.2s; /* Smooth color transition */
}

.grid-box.checked {
  background-color: #87CEEB; /* Light blue for open set */
}

.grid-box.closed {
  background-color: #FFA07A; /* Light coral for closed set */
}

.grid-box.path {
  background-color: #33aa33; /* Dark green for path */
}